<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>Rastreador</b>Vehicular</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ path('vehiculo_index') }}">Vehículos</a></li>
              {% if is_granted('ROLE_ADMIN')%}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('rastreador_index') }}"><span class="glyphicon glyphicon-wrench"></span> Administrar Rastreadores </a></li>
                    <li><a href="{{ path('vehiculo_new') }}"><span class="glyphicon glyphicon-edit"></span> Nuevo Vehículo </a></li>
                    <li><a href="{{ path('vehiculo_index') }}"><span class="glyphicon glyphicon-edit"></span> Nueva Flota </a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
              </div>
            </form>
          </div>
          <!-- /.navbar-collapse -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Bienvenido: {{ app.user.username }} </span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      {{ app.user.username }} - {{ app.user.email }}
                      {% if is_granted('ROLE_ADMIN')%}
                        <small>Menu de administrador</small>
                      {% else %}
                        <small>Menu de usuario</small>
                      {% endif %}
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <a href="#">Vehículos</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Estadísticas</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Alertas</a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-custom-menu -->
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Registrarse </a></li>
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Ingresar </a></li>
          </ul>
        {% endif %}
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>



</body>
</html>
